---
interface Props {
	title: string;
}

const { title } = Astro.props;

import { initializeApp } from "firebase/app";
import { getAuth, signInWithEmailAndPassword } from "firebase/auth";

// Your web app's Firebase configuration
const firebaseConfig = {
    apiKey: import.meta.env.VITE_FIREBASE_API_KEY,
    authDomain: import.meta.env.VITE_FIREBASE_AUTH_DOMAIN,
    projectId: import.meta.env.VITE_FIREBASE_PROJECT_ID,
    storageBucket: import.meta.env.VITE_FIREBASE_STORAGE_BUCKET,
    messagingSenderId: import.meta.env.VITE_FIREBASE_MESSAGING_SENDER_ID,
    appId: import.meta.env.VITE_FIREBASE_APP_ID
};

// Initialize Firebase
const app1 = initializeApp(firebaseConfig);
const auth = getAuth(app1);

// Teste de autenticação Firebase
console.log('Antes da Promisse');
signInWithEmailAndPassword(auth, "rsaraceni@gmail.com", "123456")
  .then(response => {
    console.log('success', response);
  })
  .catch(error => {
    console.log('error', error);
  });
console.log('Depois da Promisse');
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	</head>

	<body class="flex h-screen p-4 text-base text-zinc-600 bg-zinc-100">
		<slot />
	</body>
</html>

<style is:global>
	html {
		height: 100%;
		font-family: "Poppins", sans-serif;
	}
</style>
